.dashboard-container {
  padding: 20px;
  height: 92vh;
  background-color: #f9f9f9;

  h1 {
    margin-bottom: 20px;
  }

  .lead-list {
    margin-top: 20px;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    .card-body {
      padding: 15px;

      .card-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 600;
      }

      .card-text {
        margin-bottom: 10px;

        strong {
          display: inline-block;
          width: 120px;
        }
      }
    }
  }

  .spinner-border {
    margin-top: 20px;
  }

  .alert {
    margin-top: 20px;
  }
}

.card-title {
  color: black;
}

h1 {
  color: black;
}
p {
  color: black;
}
.modal-body {
  background-color: white;
}
.sidebar {
  width: 250px;
  margin-bottom: -88vh;
  background: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  position: sticky;
  height: 80vh;
}

.sidebar h2 {
  color: #ecf0f1;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  text-align: center;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background: #34495e;
  border-radius: 4px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background: #ecf0f1;
}

.lead-list .card {
  margin-bottom: 20px;
}
