/* Contacts.css */
#contacts-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #09111a;
}

.table-responsive {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.btn-group .btn {
  margin-right: 5px;
}

.alert {
  text-align: center;
  font-weight: bold;
}
